<%= form_with model: @matelist do |form| %>
  <% if matelist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(matelist.errors.count, "error") %> prohibited this matelist from being saved:</h2>

      <ul>
        <% matelist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <ul>
    <%= form.fields_for :invites do | invite_form | %>
      <li>
        <%= invite_form.label :email %>
        <%= invite_form.email_field :email %>
      </li>

    <% end  %>
  </ul>

  <div>
    <%= form.submit %>
  </div>
<% end %>
