<!DOCTYPE html>
<html>
  <head>
    <title>Matelister</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  </head>

  <body>

    <header>
      <h1>Matelist</h1>
      <% if user_signed_in? %>
        <p>You are connected as <%= @user.username %> with your <%= @user.provider.capitalize %> account.</p>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo: false } %>
      <% else %>
        <%= button_to "Sign in with Deezer", user_deezer_omniauth_authorize_path, method: :post, data: { turbo: false } %>
        <%= button_to "Sign in with Spotify", user_spotify_omniauth_authorize_path, method: :post, data: { turbo: false } %>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
  <footer>
    <p><i>Made with love by yours truly</i> </p>
  </footer>

  </body>
</html>
